@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s ease;
}

.page-enter-active {
    transition-delay: 0.2s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
}

body {
    @apply relative flex flex-col items-center w-full bg-background text-p_text selection:bg-selectionBack;
}

div > .router-link-active {
    @apply pt-2 pb-2 rounded-md bg-btn_back text-btn_text;
}